*{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 auto;
}

h1 {
    font-size: 2.25em;
}

h2 {
    font-size: 1.7em;
}

h3 {
    font-size: 1.25em;
}

p {
    font-size: 1.1em;
}

body {
    background-color: #fafaf0;
}

.section, #contact, #aboutMe {
    margin-top: 20px;
    margin-bottom: 5px;
}

p, h2, h3, main li {
    margin-bottom: 7px;
}

.content {
    width: 90%;
    margin-left: 5%;
}

.header {
    height: 75px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #990000;
    color: white;
    align-items: center;
    border: 6px solid #eca600;
}

.header h1 {
    font-size: 2rem;
}

.section {
    border-top: 4px solid #eca600;
}


nav {
    grid-column: 2 / 3;
}


nav a { 
    text-decoration: none; 
    color: white; 
}

a:hover { 
    text-decoration: none; 
    color:blue; 
}

main a:visited {
    text-decoration: none; 
    color:blue; 
}

nav li {
    display: inline-block;
    font-size: 20px;
    padding-left: 5px;
    padding-right: 11px;
}

.firstTwo {
    border-right: 2px solid #eca600;
}

img {
    max-width: 100%;
    margin-top: 10px;
}

#headshot {
    width: 350px;
}

#linkedin, #mail {
    height: 200px;
    margin-left: 30px;
    margin-right: 50px;
}

@media only screen and (orientation: portrait) {
   
    h2 {
        font-size: 1.8em;
    }
    
    h3 {
        font-size: 1.8em;
    }
    
    p, main li {
        font-size: 1.1em;
    }
    
    .header {
        height: 120px;
        display: block;
        text-align: center;
    }

    .header li {
        margin-bottom: 10px;
    }

    .header h1 {
        font-size: 2em;
        margin-bottom: 20px;
    }

    .header {
        text-align: center;
        font-size: 1.2em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    p, h2, h3, main li {
        margin-bottom: 10px;
    }

    .section, #contact {
        margin-top: 50px;
        margin-bottom: 12px;
    }

    #headshot {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 85%;
    }

    #linkedin, #mail {
        height: 100px;
        margin-left: 30px;
        margin-right: 30px;
        display: inline-block;
    }
}